.content{
	border: solid #9c0;
	width:1291px;
	height:1538px;
}
h1{
color:blue;

}
body{
/* 	background-image: url("images/images.jpg");
background-position:  250px 150px;
background-repeat: no-repeat; */
background-image: url("images/images.jpg") 400px 200x no-repeat;
background-color: #fd8e2f;
color: #032149;

	}